* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.main-header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}

.container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.main-header .container {
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 40px;
  height: 40px;
}

.logo-title {
  display: table-cell;
  /* vertical-align: middle; */
  margin-left: 15px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}

.main-menu ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.main-menu a {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

.main-menu a:hover {
  color: lightgrey;
}

.page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  padding-top: 25px;
  padding-bottom: 25px;
  background: url("../img/lunar_mare.jpg") center no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  text-align: center;
}

.page-title-logo {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  background: url("../img/logo.png");
  background-size: 100% 100%;
}

.page-title-text h1 {
  font-size: 42px;
  font-weight: bold;
}

.page-title-text p {
  margin-bottom: 30px;
  font-size: 18px;
}

.page-title-text a {
  padding: 10px;
  color: #ffffff;
  border: 2px solid white;
  border-radius: 7px;
}

.features,
.about {
  padding-top: 45px;
  padding-bottom: 45px;
}

.about:nth-child(even) {
  flex-direction: row;
  background: #f7f7f7;
}

.about:nth-child(odd) {
  flex-direction: row-reverse;
  background: #ffffff;
}

.features .container,
.about .container {
  width: 1100px;
  justify-content: space-between;
  flex-direction: row;
  align-items: top;
}

.about .reversed {
  flex-direction: row-reverse;
}

.features-item {
  width: 31%;
}

.features h2,
.about h2 {
  margin-bottom: 15px;
  font-size: 28px;
}

.features p,
.about p {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
}

.about .container {
  justify-content: space-around;
  flex-direction: inherit;
}

.about-text {
  width: 42%;
}

/*-----------------------------*/

/* div {
  border: 1px red dotted;
}

section {
  border: 1px blue dotted;
} */
